body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
 .check {
 	overflow: hidden;
 	position: fixed;
 	
 }

 input[type='submit']{
  color:white;
  background-color: #0173C5;
 }

 .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: black;
}
 tr.no-records-found td {
    display: none;
}
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #0173C5;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #0173C5;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: rgb(71,71,71);
  }

  .logo-small {
      color: #0173C5;
      font-size: 50px;
  }
  .logo {
      color: black;
      font-size: 200px;
  }
  
  .navbar {
      margin-bottom: 0;
      background-color: #0173C5;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #0173C5 !important;
      background-color: #fff !important;
  }
  div.modal-body > ul > li > a,  div.modal-body > ul > li > a {
      color: black !important;
      background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
 
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  table {
  	background-color:  #f6f6f6;
  }

  div#competitions ,h4{
    color:white;
  }

  #top{
    padding-right: 30px;
    padding-bottom: 30px;
  }